@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Georgian College</h1>
        <br />
        <h2>Assignment 2 (Authentication)</h2>
        <br />
        <h4>Student Table:</h4>
        <p>
            Anonymous person will not able to see Student column in navbar, while employee can see the student list
            as well as details of all those students, but will no able to add new student, remove or edit previous. While admin has
            full access to add new student, edit or delete previous one in list.
        </p><br />

            <h4>Course Table:</h4>
            <p>
                Course column is shown to everyone, but anonymous persons will not able to see coordinator name,
                all the edit, details and delete actions. While employee can see all the details of course table but not able to add or delete
                courses. And admin has full access to add new courses, delete and edit all the courses in table.
            </p>
        <br />

        <h6>Sources</h6>
        <p><a href="https://www.georgiancollege.ca/academics/academic-and-career-preparation/">Source of Image </a>used in Navbar.</p>
        <p><a href=https://bootswatch.com/> Source of bootstrap </a>.</p>
    </div>
