@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Georgian College</h1>
    <p><a href="https://www.georgiancollege.ca/academics/academic-and-career-preparation/">Source of Image </a>used in Navbar.</p>
</div>
