@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Georgian College</h1>

        <p>This project is basically on different records stored in website of Georgian College</p>
        <p>
            <h4>We have two different tables in our database: </h4>
            1.Students Table to store all the informations of the students enrolled in College.<br />
            2. Courses Table to store information about all the courses available in the college.
        </p>
        <br />
        <h5>CRUD Functionality</h5>
        <p>We can add new information, show details, edit information and delete information from tables by using CRUD functionality.</p>
        <br />
        <h6>Sources</h6>
        <p><a href="https://www.georgiancollege.ca/academics/academic-and-career-preparation/">Source of Image </a>used in Navbar.</p>
        <p><a href=https://bootswatch.com/ > Source of bootstrap </a>.</p>
    </div>
